aifx/__pycache__/*
aifx/.coverage
aifx/support_charts/*
aifx/golden/*
aifx/golden_test/*
aifx/test_*
aifx/tests/__pycache__/*
aifx/tests/test_charts/*
aifx/tests/support_charts/*
aifx/tests/test_charts_mixed/*
aifx/tests/test_charts_legend/*

aifx/tester-third/__pycache__/*
aifx/tester-third/mt4_test_results/logs/*
aifx/tester-third/*.ex4
aifx/tester-third/mt4_test_results/*
aifx/tester-third/analyze.log
aifx/tester-third/m15_candles/*

.vscode/settings.json
test_charts_mixed/*
test_charts_legend/*
test_charts/*

aifx/strategy/__pycache__/*
aifx/strategy/support_charts/*
aifx/strategy/tests/golden_test_output/*
aifx/strategy/support_lines_results.txt

magic_lines.log
decision.log
sheep.log
sheep/*.log
sheep_old/*.log

aifx/data/**/*.csv
aifx/data/**/*_decision.txt
aifx/data/**/*_result.txt
aifx/data/**/*.png
aifx/data/**/*_stats.txt

# keep the US100 data for testing
!aifx\data\US100.f15.csv_data

aifx/tester-third/wd_main.mqh
aifx/tester-third/wd_tester_hash.mqh

.vscode/launch.json
.vscode/tasks.json
